<!--
<div id="sequence">
    <ul class="sequence-canvas">
        <li>
            <div class="emblem-div">
				<img id="emblem-img" />
			</div>
        </li>
        <li>
            <div class="moon-div">
				<img id="moon-img" />
			</div>
        </li>
        <li>
            <div class="rocket-div">
				<img id="rocket-img" />
			</div>
        </li>
    </ul>
</div>
-->

<div class="moon-div">
    <%= image_tag("moon-small.png", :id => "moon-img") %>
</div>

<div class="emblem-div">
    <%= image_tag("graviteam-badge-no-rocket-no-text.svg", :id => "emblem-img") %>
</div>

<div class="rocket-div">
    <%= image_tag("rocket.svg", :id => "rocket-img") %>
</div>

<div class="i-no-dot">
    <%= image_tag("i-no-dot.svg", :id => "i-no-dot-img") %>
</div>

<div class="i-dot-div">
    <%= image_tag("i-dot.svg", :id => "i-dot-img") %>
</div>

<div class="grav-div">
    <%= image_tag("grav.svg", :id => "grav-img") %>
</div>

<div class="team-div">
    <%= image_tag("team.svg", :id => "team-img") %>
</div>

<div id="bottom-half">
	<div id="email-div">
        <%= image_tag("scroll_up.png", :id => "scroll-up-arrow") %>
		<h1>JOIN OUR MAILING LIST</h1>
    <%= form_for ListMember.new, url: "/join" do |f| %>
      <%= f.email_field :email %>
      <%= f.submit "JOIN" %>
    <% end %>
	</div>
	<div class="rocket-footer-div">
        <%= image_tag("rocket-footer.svg", :id => "rocket-footer") %>
	</div>
</div>
